<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="curriculums$ | async as curriculums">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-3">
          <select class="form-control" [(ngModel)]="selectedOption"
                  (change)="onSelected()">
            <option value="All">- Display All -</option>
            <option value="Education">Education</option>
            <option value="Employment">Employment</option>
            <option value="Entrepreneurship">Entrepreneurship</option>
            <option value="Other">Other</option>

          </select>
        </div>
        <div class="col-2">
          <button type="button"
                  class="btn btn-outline-secondary"
                  (click)="onAdd()">Add CV</button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="curriculums">
        <thead>
        <tr>
          <th>Category</th>
          <th>Where</th>
          <th>Title</th>
          <th>Period</th>
        </tr>
        </thead>
        <tbody *ngFor="let curriculum of curriculums">
        <tr>
          <td>{{ curriculum.category }}</td>
          <td>{{ curriculum.institution }}</td>
          <td>{{ curriculum.title }}</td>
          <td>{{ curriculum.period  }}</td>
          <td>
            <button class="btn btn-primary"
               [routerLink]="['/cv', curriculum.id]">
              Detail
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
